*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.container{
	width: 950px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/* Navigation Section Start */

.nav-head h1{
	float: left;
	font-size: 40px;
	color: #b73958;
	padding-top: 26px;
}

.nav-links{
	float: right;
}

.nav{
	background-color: #e9ede9;
	position: absolute;
    left: calc(50% - 486px);
    padding-bottom: 20px;
	background-color: #e9ede9;
	width: 100%;
	opacity: 0.8;
}

.nav-links li{
	font-size: 16.99px;
	color: #736e6f;
	padding-left: 50px;
	float: left;
	padding-top: 40px;
}

.nav-links img{
	float: left;
	padding-right: 47px;
	padding-left: 50px;
	color: #7d7d7d;
	font-size: 18px;
	padding-top: 40px;
}

.banner-rel img{
	width: 100%;
}

.banner-rel{
	text-align: center;
	position: relative;
}

.banner-abs h2{
	padding: 0 200px;
    font-size: 44px;
    color: #ffffff;
    padding-bottom: 46px; 
    padding-top: 324px;	
}

.banner-abs p{
	padding-left: 285px;
    font-size: 14px;
    color: #f7f6f7;
    padding-bottom: 86px;  
}

.banner-abs{
    position: absolute;
	top: calc(50% - 91px);	
	left: calc(50% - 368px);
}	
/* Navigation Section End */

/* Image Section Start */

.image-sec{
	    text-align: center;
}

.image-sec h3{
	    font-size: 30px;
		padding: 85px 180px 46px;
		color: #4c505d;
}

.image-sec p{
	    font-size: 14px;
	    padding-bottom: 71px;
		width: 91.3%;
		padding-left: 179px;
}

.logos{
	   padding-bottom: 77px;
}

.medium{
	   padding: 0 126px;
}

/* Image Section End */

/* iphone section start */

.detail img{
	float: left;
	padding-top: 46px;
}

.detail-img h2{
	text-align: left;
	float: right;
	padding-top: 53px;
	font-size: 27px;
	padding-right: 471px;
}

.detail-img p{
	text-align: left;
	width: 77.3%;
	float: right;
	padding-top: 20px;
	font-size: 14px;
	line-height: 30px;
}

.standard img{
	float: left;
	padding-top: 46px;
}



.standard-img h2{
	text-align: left;
	float: right;
	padding-top: 53px;
	font-size: 27px;
	padding-right: 471px;
}



.standard-img p{
	text-align: left;
	width: 77.3%;
	float: right;
	padding-top: 20px;
	font-size: 14px;
	line-height: 30px;
}

.low img{
	float: left;
	padding-top: 46px;
	padding-bottom: 78px;
}



.low-img h2{
	text-align: left;
	float: right;
	padding-top: 53px;
	font-size: 27px;
	padding-right: 471px;
}



.low-img p{
	text-align: left;
	width: 77.3%;
	float: right;
	padding-top: 20px;
	padding-bottom: 133px;
	font-size: 14px;
	line-height: 30px;
}
/* iphone section end */

/* footer section start */

.footer-text{
	float: left;
	background-color: #2a2a2a;
	padding-top: 37px;
	padding-bottom: 37px;
}

.footer-text-1{
	float: left;
	padding-right: 81px;
	padding-left: 66px;
}

.footer-text-1 h2{
	color: #aeaeae;
    font-size: 21px;	
}

.footer-text-1 p{
	color: #aeaeae;
    font-size: 15px;	
}

.footer-text-2{
	float: left;
	padding-right: 81px;
}

.footer-text-2 h2{
	color: #aeaeae;
    font-size: 21px;	
}

.footer-text-2 p{
	color: #aeaeae;
    font-size: 15px;	
}

.footer-text-3{
	float: left;
	padding-right: 81px;
}

.footer-text-3 h2{
	color: #aeaeae;
    font-size: 21px;	
}

.footer-text-3 p{
	color: #aeaeae;
    font-size: 15px;	
}

.footer-text-4{
	float: left;
	padding-right: 47px;
}

.footer-text-4 h2{
	color: #aeaeae;
    font-size: 21px;	
}

.footer-text-4 p{
	color: #aeaeae;
    font-size: 15px;	
}

.footer-img{
	float: left;
}

.footer-text-5 p{
    color: #aeaeae;
    font-size: 15px;
}
/* footer section end */